<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :login %>
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :surname %>
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :category_ids %>
    <%= f.select :category_ids, options_from_collection_for_select(Category.all, :id, :name, {:selected => @user.category_ids.split(';').first} ), {}, {:multiple => true, :name => 'user[category_ids][]'} %>
  </div>
  <div class="actions"><%= f.submit "Sign Up" %></div>
<% end %>
